
@{
    ViewBag.Title = "Index";
}

<h2>查詢書籍</h2>
書籍名稱 <input type="text" name="bookname" /><br />
書籍類別 <select id="category">
    <option>Comics</option>
    <option>DataBase</option>
    <option>Finance</option>
    <option>Program</option>
</select><br />
保管人 <select id="memeber">
    <option>Jenny</option>
    <option>Jessica</option>
    <option>Sam</option>
    <option>Elsa</option>
</select><br />
書籍狀態 <select id="status">
    <option>可租借</option>
    <option>不可租</option>
    <option>不可借</option>
    <option>已租未領</option>
</select><br />
